<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bookshare</title>

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.flatly.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>

</head>
<body>
    <script type="text/javascript">
      VK.init({
        apiId: 5759277
      });
    </script>
    <div id="app"></div>
    <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>